{% load static %}

<footer id="footer">

    <div>
        <h2>Contact</h2>
        <p>arbelaezch@gmail.com</p>
        <p></p>
    </div>
        
    <div class="links-box">
        <a href="https://github.com/Arbelaezch">
            <img src="{% static 'portfolio/images/github.png' %}" class="socials" alt="github">
        </a>
        <a href="https://www.facebook.com/christian.arbelaez.9">
            <img src="{% static 'portfolio/images/facebook.png' %}" class="socials" alt="facebook">
        </a>
        <a href="https://www.linkedin.com/in/christian-arbelaez2021/">
            <img src="{% static 'portfolio/images/linkedin-logo.png' %}" class="socials" alt="linkedin">
        </a>
    </div>
    <p>Original design and build by Christian Arbelaez.</p>
    <p>Copyright © {{year}} Christian Arbelaez</p>

</footer>