{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christian Arbelaez's Portfolio</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'portfolio/favicon/favicon-32x32.png' %}"/>
    <link rel="stylesheet" href="{% static 'portfolio/css/portfolio.css' %}"/>
    <link rel="stylesheet" href="{% static 'portfolio/css/navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'portfolio/css/footer.css' %}"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:wght@300&family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

{% include "portfolio/navbar.html" %}

<body>
    <div class="hero-container">
        <img src="{% static 'portfolio/images/ravine_ps.jpg' %}" class="hero-pic" alt="Hiking">
        <div class="hero-text-container">
            <p class="hero-title">Christian Arbelaez</p>
            <p class="hero-description">Python Developer</p>
        </div>
        
    </div>

    <div class="quote-container">
        <p class="quote-text">"I didn't fail, I just found 100 ways that don't work."</p>
        <p class="quote-author">Benjamin Franklin</p>
    </div>

    <div class="project-section">
        <div class="project-text-container">
            <p class="section-header">Projects</p>
            <p>I am most experienced working with Python and Django, but I have also developed projects 
                (like this website) using HTML/CSS, SQL, C/C++ and Java. I have also recently taken an interest in data 
                science and machine learning. Follow my development journey in my <a href="{% url 'BlogView' %}">blog</a>.
            </p>
        </div>

        <div class="project-item-container">
        
            <div class="hover-img">
                <a href="">
                    <img src="{% static 'portfolio/images/shipwrecked.png' %}" alt="">
            
                    <figcaption>
                        <p class="figcation-caption">Side scrolling video game</p>
                    </figcaption>
                </a>
            </div>
            
            
            <div class="hover-img">
                <a href="">
                    <img src="{% static 'portfolio/images/TeamIlluminator.png' %}" alt="">
                    <figcaption>
                        Full-Stack Website
                        <p class="figcation-caption"></p>
                    </figcaption>
                </a>
            </div>
            
        </div>

    </div>



    <div class="about-container">
        <div class="about-text-container">
            <p class="section-header">About Me</p>
            <div class="about-contents">
                <p>
                    Hi, my name is Christian Arbelaez and I work as a <b>Python software developer</b>. I hold a Bachelor's degree in Computer Science from the University of Alberta.
                    <br><br>
                    Besides data science and software development, I also enjoy classic films, hiking, and ancient history.
                    <br><br>
                    In development, as in life, I approach each new challenge as a chance to learn and grow.
                    I find nothing more satisfying than adding a new skill to my mental tool-box.
                    <br><br>
                    I consider this website a hub for both my professional projects and hobbies. Feel free to explore some of the topics I have spent my time learning and you may get to know me even more.



                
                </p>
                <img class='headshot' src="{% static 'portfolio/images/headshot.png' %}">
            </div>
        </div>
    </div>

    {% include "portfolio/footer.html" %}
    
</body>
</html>
