{% extends 'base.html' %}
{% load static %}

{% block head %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'movies/css/decade.css' %}">
{% endblock head %}

{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'movies/media/favicon.ico' %}"/>{% endblock favicon%}


{% block content %}
    <body>
    <article class="center">
        <!-- MAIN CONTENT-->
        <div class="content">
            <header>
                <h1 class="title">{{ decade_obj.title }}</h1>
            </header>
            <div id="description" class="mid">
                {% if decade_obj.decade == "1900" %}
                    <div class="horse">
                        <img src="{% static 'movies/media/running_horse.gif' %}" alt="running-horse"/>
                    </div>
                {% endif %}
                <p> 
                    {{ decade_obj.description }}    
                </p>
            </div>

            <div id="grid">
                <div class="wrapper">
                    {% for item in movie_list %}
                    <div class="item">
                        <a href="/film/{{decade_obj.decade}}/{{item.pk}}/">
                            <img src="{{ item.image.url }}"></img>
                            <p>{{ item.title }} ({{item.year}})</p>
                        </a>
                    </div>

                    {% endfor %}
                    
                </div>
            </div>
        </div>
    {% include 'movie_sidebar.html' %}

    </article>

    </body>


{% endblock content %}

