{% extends 'base.html' %}
{% load static %}

{% block head %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'movies/css/style.css' %}">
{% endblock head %}

{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'movies/media/favicon.ico' %}"/>{% endblock favicon%}


{% block content %}
    <body>

    <article class="center">
        <!-- MAIN CONTENT-->
        <div class="content">
            <header>
                <h1 class="title">{{ decade.title }}</h1>
            </header>
            <div id="description" class="mid">
                <div class="horse">
                    <img src="../../images/running horse.gif" alt="running-horse"/>
                </div>
                
                <p> 
                         
                    {{ decade_obj.description }}

                    {% comment %} Personal Favorites of the Era: <a href="./movies/sherlock.php">Sherlock Jr.</a> and <a href="./movies/sunrise.php">Sunrise.</a><br><br> {% endcomment %}

                    
                    </p>
            </div>

            <div id="grid">
                <div class="wrapper">
                    {% for item in movie_list %}
                    <div class="item">
                        <a href="{% url 'movie' item.pk %}">
                            <img src="{{ item.image.url }}"></img>
                            <p>{{ item.title }} ({{item.year}})</p>
                        </a>
                    </div>

                    {% endfor %}
                    
                </div>
            </div>
        </div>
{% endblock content %}
