{% extends 'base.html' %}
{% load static %}


{% block head %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'movies/css/film.css' %}">
{% endblock head %}

{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'movies/media/favicon.ico' %}"/>{% endblock favicon%}


{% block content %}
    <body>
        <div id="page">
            <!-- MAIN CONTENT-->
            <div id="content" class="side">
                <div class="header">
                    <div class="top">
                        <div id="title" class="title">
                            <h1>{{film.title}} ({{film.year}})</h1>
                        </div>
                        <div id="rating" class="title">
                            <h2 class="single">{{film.rating}}</h2>
                        </div>
                    </div>
                    <div class="mid">
                        <div id="picture" class="info">
                            <!-- <img src="/media/movie-posters/sherlock_jr.jpeg" alt=""> -->
                            <img src="{{ film.image.url }}" alt="">
                        </div>
                        <div id="synopsis" class="info">
                            <p class="synopsis"> 
                                <p>{{ film.description }}</p>
                                <p>Director: {{ film.director }}</p>
                                <p>Writer: {{film.writer}} </p>
                                <p>Cast: {{ film.cast }}</p>
                                                
                                <p>Country: {{ film.country }}</p>
                                
                                <p>Studio: {{ film.studio }}</p>
                            </p>
                        </div>
                    </div>
                </div>

                <div id="review">
                    <p style="text-align: center; text-indent: -.25in; margin: 30px 1in;"></p>
                    <p>
                        {{film.review | safe}}
                    </p>  
                </div>
            </div>

            <div id="sidebar" class="side">
                <div id="sideHeader">
                    {% include 'movie_sidebar.html' %}
                </div>
            </div>

        </div>
    <body>
{% endblock content %}

