{% extends 'base.html' %}
{% load static %}

{% block head %}
{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'movies/css/Dstyle.css' %}">
{% endblock head %}

{% block favicon %}<link rel="shortcut icon" type="image/png" href="{% static 'movies/media/favicon.ico' %}"/>{% endblock favicon%}


{% block content %}
    <body>
    <div id="page">

        <!-- MAIN CONTENT-->
        <div id="content" class="side">
        <div class="header">
            <div class="top">
            <div id="title" class="title">
                <h1>No Country for Old Men ()</h1>
            </div>
            <div id="rating" class="title">
                <h2 class="single"></h2>
                
            </div>
            </div>
            <div class="mid">
            <div id="picture" class="info">
                <img src="../images/king.jpg" alt="">
            </div>
            <div id="synopsis" class="info">
                <p class="synopsis"> 
                        <br>
                        Hal, wayward prince and heir to the English throne, is crowned King Henry V after his tyrannical father dies. Now the young king must navigate palace politics, the war his father left behind, and the emotional strings of his past life.<br><br>
            Director: David Michôd<br><br>
            Writers: David Michôd, Joel Edgerton<br><br>
            Stars: Timothy Chalamet, Joel Edgerton, Sean Harris<br><br>
                                        
                        Country: America<br><br>
                        
                        Studio: Miramax Films
                </p>
            </div>
            </div>
        </div>
    
        <div id="review">
            <p style="text-align: center; text-indent: -.25in; margin: 30px 1in;"> 
            
                
            </p>

            <p>
                
                    Review goes here.
                
                <br><br>



                
                
            </p>  
        </div>
        </div>
        
    </body>

    {% include 'movie_sidebar.html' %}


{% endblock content %}

