# Personal additions.
.DS_Store
GoogleServiceAccount.json


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.Python
downloads/
.eggs/
wheels/
MANIFEST

# celery beat schedule file
celerybeat-schedule

# Jupyter Notebook
.ipynb_checkpoints

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff:
*.log
*.pot
mydatabase.sqlite3

# Environments
.env
env/
venv/
ENV/
