env
venv
conf/GoogleServiceAccount.json
logs/
.vscode
__pycache__/
.DS_Store
website/node_modules
# website/media/movie-posters/
.env

# We need the migration folder and init, but skip the rest.
# They're just messy to debug and can collide a bunch if people are working
# around the same models.  If we need to migrate data, we'll deal with that
# using an exclusion in the base list.
**/migrations/**
!**/migrations
!**/migrations/__init__.py
website/mydatabase
mydatabase
