{% extends 'base.html' %}
{% load static %}

{% block title %}{{ decade.year }}s{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'films/css/decade.css' %}"/>
{% endblock %}

{% block content %}
<article class="center">
    <!-- MAIN CONTENT-->
    <div id="decade-content">
        <header>
            <h1 class="title">{{ decade.title }}</h1>
            {% if decade.subtitle %}
                <h2 class="subtitle">{{ decade.subtitle }}</h2>
            {% endif %}
        </header>
        <div id="description" class="mid">
            <p>
                {{ decade.description|safe }}
                
                {% if decade.fun_fact %}
                    <br><br>
                    <p>
                        Fun Fact: {{ decade.fun_fact }}
                    </p>
                {% endif %}
                
                {% if favorite_movies %}
                    <br><br>
                    <p>
                        Favorites of the Decade: 
                        {% for movie in favorite_movies %}
                            <a href="{% url 'films:movie_detail' year=movie.get_decade slug=movie.slug %}">{{ movie.title }} ({{ movie.release_year }})</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                {% endif %}
            </p>
        </div>
        <div id="grid">
            <div class="wrapper">
                {% for movie in movies %}
                <div class="item">
                    <a href="{% url 'films:movie_detail' year=movie.get_decade slug=movie.slug %}">
                        <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
                        <p>{{ movie.title }} ({{ movie.release_year }})</p>
                    </a>
                </div>
                {% endfor %}
            </div>  
        </div>
    </div>
</article>

<footer>
    <p>Build by Christian Arbelaez for his online portfolio. Copyright © by Christian Arbelaez.</p>
</footer>
{% endblock %}