{% extends "base.html" %}
{% load static %}
{% url 'films:movie_detail' year=year slug=movie.slug %}

{% block css %}
<link rel="stylesheet" href="{% static 'films/css/movie_detail.css' %}"/>
{% endblock %}


{% block content %}
<div id="page">
    <div id="content" class="side">
        <div class="header">
            <div class="top">
                <div id="title" class="title">
                    <h1>{{ movie.title }} ({{ movie.release_year }})</h1>
                </div>
                <div id="rating" class="title">
                    <h2 class="single">{{ movie.rating }}</h2>
                </div>
            </div>
            <div class="mid">
                <div id="picture" class="info">
                    {% if movie.image %}
                    <img src="{{ movie.image.url }}" alt="{{ movie.title }}">
                    {% endif %}
                </div>
                <div id="synopsis" class="info">
                    {% if movie.top250_rank %}
                    <p class="top250-rank">#{{ movie.top250_rank }} on IMDb Top 250</p>
                    {% endif %}
                    <p class="synopsis">
                        {{ movie.synopsis|safe }}
                        
                        {% if movie.director %}<br><br>Director: {{ movie.director }}{% endif %}
                        {% if movie.writer %}<br><br>Writer: {{ movie.writer }}{% endif %}
                        {% if movie.actors %}<br><br>Stars: {{ movie.actors }}{% endif %}
                        {% if movie.country %}<br><br>Country: {{ movie.country }}{% endif %}
                        {% if movie.language %}<br><br>Language: {{ movie.language }}{% endif %}
                        {% if movie.studio %}<br><br>Studio: {{ movie.studio }}{% endif %}
                        {% if movie.runtime %}<br><br>Runtime: {{ movie.runtime }} minutes{% endif %}
                        <br><br>Genre: {{ movie.get_genre_display }}
                    </p>
                </div>
            </div>
        </div>

        <div id="review">
            <p style="text-align: center; text-indent: -.25in; margin: 30px 1in;"></p>
            <p>{{ movie.review|safe }}</p>
        </div>
    </div>

</div>
{% endblock %}