/* FOOTER */
footer {
    bottom: 0;
    width: 100%;
    background-color: #76549A;
    color: #FCF8E8;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-bottom: 4rem;
}

.socials {
	width: 4rem;
	padding: 1rem;
}

.links-box {
	margin: 4rem auto 0 auto;
	width: fit-content;
	padding-bottom: 2rem;
	border-bottom: 1px solid rgb(141, 141, 141);

}

.links-box a {
	text-decoration: none;
}