/* NAVIGATION BAR */
nav {
	overflow: auto;
	background-color: rgb(28, 32, 36);
	/*background-color: #333; LIGHT MODE */
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 100;
	margin:0px auto;
    left:0px;
    right:0px;
 }
 
 /* Links inside the navbar */
nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 30px;
	text-decoration: none;

 }
 
 /* Change background on mouse-over */
nav a:hover {
	background: #ddd;
	color: black;
 }


 /* FOOTER */
footer {
	color: #5F6368;
	text-align: center;
	position: relative;
	bottom: 0;
}
 /* footer {
	position: absolute;
  	bottom: 0;
  	color: #5F6368;
	text-align: center;
	width: 98%;
	font-size: smaller;
	text-align: center;
} */