.light-mode {
  background-color: #fff;
  color: #000;

}

.dark-mode {
  background-color: #16161a;
  color: #fffffe;

}

nav {
  display: flex;
  justify-content: center;

}
  
.navbar-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 875px;
  flex-wrap: wrap;
  position: relative;
  margin-top: 1rem;

}

.navbar-container a {
  color: black;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
}

.navbar-right {
  width: auto;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.navbar-left a {
  font-weight: bold;
}

.navbar-right a {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.navbar-container::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin-bottom: -20px;
}

.navbar-container a {
  color: black;
  text-decoration: none;
}

.navbar-container a:hover {
    color: #F41d92;
}

.dark-mode .navbar-container a {
  color: #fffffe;
}
  
@media (max-width: 768px) {
    .navbar-container {
      flex-wrap: nowrap;
    }
  
    .navbar-left {
      width: auto;
      order: 1;
      margin-bottom: 1rem;
      margin-right: auto;
    }
  
    .navbar-right {
      width: 100%;
      order: 2;
      display: flex;
      justify-content: flex-end;
      margin-top: 1rem;
      margin-left: auto;
    }
  
    .navbar-right a {
      margin-left: 0;
      margin-right: 0.5rem;
    }
}

content {
  display: block;
  width: 80%;
  height: fit-content;
  margin: 3rem auto;
  max-width: 875px;

}