article {
	text-align: center;
	width: 80%;
	min-width: 450px;
	margin: 60px auto 0px auto;
	background-color: #fec356;
	height: fit-content;
	padding-bottom: 60px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333;
}

header {
	padding: .5rem 0;
}


h1 {
	background: #fec356;
	color: black;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}
 
h2 {
	color: #3a3a3a;
	text-align: left;
	padding-left: 30px;
	padding-top: 50px;
	font-size: xx-large;

	
}




footer {
	left: 0;
  	bottom: 0;
  	width: 100%;
	/*background-color: rgb(238, 238, 238); LIGHT MODE */
	color: #ddd;
	margin-top: 50px;
	text-align: center;

}

 
  
/* CLASSES ------------------------------------------------------------------*/

.dishes {
	background-color: rgb(194, 194, 194);
	width: 100%;
	
	margin: auto;
	color: #ddd;
	
	height: fit-content;
	
}

.description {
	padding-bottom: 2rem;
	border-bottom: 2px solid gray;
	
}




#grid {
	height: fit-content;
	width: 100%;
	
	padding: 1rem 0;
	

}

.wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 1rem;
	padding: 1rem;
	
}

.wrapper img {

	width: 300px;
	border: 1px solid black;
	
}


.item a:link, .item a:visited {
	color: mediumblue;
	text-decoration: none;
}

.item a:active {
	color: sandybrown;
}

.item a:hover {
	text-decoration: underline;
}






/* NAV BAR------------------------------------------------------------------*/

/* The navigation bar */
nav {
	overflow: auto;
	background-color: rgb(28, 32, 36);
	/*background-color: #333; LIGHT MODE */
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	max-height: 3.5rem;
	z-index: 100;
	margin:0px auto;
    left:0px;
    right:0px;
 }
 
 /* Links inside the navbar */
nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 30px;
	text-decoration: none;

 }
 
 /* Change background on mouse-over */
nav a:hover {
	background: #ddd;
	color: black;
 }
 
 


 





