body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(0, 1, 2);
}

footer {
	background-color: rgb(4, 7, 8);
}

 
h2 {
	color: #3a3a3a;
	text-align: left;
	padding-left: 30px;
	padding-top: 30px;
	font-size: xx-large;

	
}

h1 {
	background: #fec356;
	color: black;
	padding: 30px;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}

 
  
/* CLASSES ------------------------------------------------------------------*/

article {
	position: relative;
	top: 50px;
	text-align: center;
	width: 80%;
	margin: auto;
	background-color: #fec356;
	margin-bottom: 70px;
}

figure {
	padding: 20px;
}

figure img {
	height: 200px;
}

.favs a:link, .favs a:visited {
	color: black;
	text-decoration: none;
}

.favs a:active {
	color: red;
}

.favs a:hover {
	text-decoration: underline;
}

.favs{
	display: grid; 
	grid-template-columns: repeat(3,1fr);
	grid-column: auto;
	grid-auto-rows: 200px 200px;
	row-gap: 90px;
	padding-bottom: 100px;
	
}


footer {
	left: 0;
  	bottom: 0;
  	width: 100%;
	/*background-color: rgb(238, 238, 238); LIGHT MODE */
	background-color: rgb(0, 0, 0);
  	color: #5F6368;
	text-align: left;
	padding-left: 30px;
	padding-right: 30px;
	margin-top: 50px;

}

.s1 {
	background-color: rgb(194, 194, 194);
	width: 100%;
	position: relative;
	margin: auto;
	color: #ddd;
	top: -27px;
	
}














/* NAV BAR------------------------------------------------------------------*/

/* The navigation bar */
nav {
	overflow: hidden;
	background-color: rgb(28, 32, 36);
	/*background-color: #333; LIGHT MODE */
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 100;
 }
 
 /* Links inside the navbar */
nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 30px;
	text-decoration: none;

 }
 
 /* Change background on mouse-over */
nav a:hover {
	background: #ddd;
	color: black;
 }
 
 /* Main content */
 .main {
	margin-top: 50px; /* Add a top margin to avoid content overlay */
	
 }

 





