{% extends 'base.html' %}
{% load static %}

{% block title %}Carb | Welcome!{% endblock title %}

{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}"/>
{% endblock css %}

{% block content %}
{{ block.super }}

{% for article in articles %}
<div class="article">
    <div class="article.created_at">
        {{ article.get_formatted_date }} / {{ article.subject }}
    </div>
    <div class="article-title">
        <a href="{% url 'ArticleView' article.id %}">{{ article.title }}</a>
    </div>
    <div class="article-subtitle">
        {{ article.subtitle|safe }}
    </div>
</div>
{% endfor %}




{% endblock content %}
