body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #76549A;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.navbar li {
    display: inline;
}

.navbar li a {
    display: inline-block;
    color: #FCF8E8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.2em;
}

.navbar li a:hover {
    background-color: #9F87AF;
    color: white;
}

.navbar li a.active {
    background-color: #4B3757;
    color: white;
}
