/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif; */

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #FCF8E8;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

    /* border: 2px solid red; */
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
    width: 95%;
    height: auto;
    margin: 2rem auto 0 auto;

}

.hero-pic {
    width: 100%;

}

.hero-text-container {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Open Sans', sans-serif;
    color: white;

    margin: 0;
}

.hero-title {
    /* font-size: min(5vw, 200px); */
    font-size: clamp(3rem, 5vw, 5vw);
    margin: 0;

}

.hero-description {
    font-size: 2vw;
    margin: 0;
}

.content-container {
    position: relative;
    margin: auto;
    width: 70%;

    border: 2px solid blue;

}





.quote-container {
    position: inherit;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    
}

.quote-text {
    font-size: xx-large;
    color: #76549A;
    margin: 1rem auto auto auto;
}

.quote-author {
    font-size: large;
    width: 80%;
    margin: auto 0 1rem auto;
}






.projects-container {
    position: relative;
    width: 95%;
    margin: auto;
    border: 2px solid red;

}





footer {
    bottom: 0;
    width: 100%;
    background-color: #76549A;
    color: white;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-bottom: 4rem;
}

.socials {
	width: 4rem;
	padding: 1rem;
}

.links-box {
	margin: 4rem auto 0 auto;
	width: fit-content;
	padding-bottom: 2rem;
	border-bottom: 1px solid rgb(141, 141, 141);

}

.links-box a {
	text-decoration: none;
}





nav {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #76549A;

}

ul.topnav {
    
    
    
}
  
nav li {
    align-self: center;
}
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav  li a:hover:not(.active) {
    /* background-color: #111; */
    background-color: #94B49F;
}

/* ul.topnav li a.active {
    background-color: #DF7861;
} */

nav li.left {
    float: left;
}
  
@media screen and (max-width: 600px) {
    nav li.right, 
    nav li {float: none;}
}