/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif; */

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #FCF8E8;
    width: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

    /* border: 2px solid red; */
}

.hero-container {
    position: relative;
    text-align: center;
    color: white;
    width: 95%;
    height: auto;
    margin: 6rem auto 1rem auto;



    /* border: 2px solid red; */
}

.hero-pic {
    width: 100%;

}

.hero-text-container {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Open Sans', sans-serif;
    color: white;

    margin: 0;
}

.hero-title {
    /* font-size: min(5vw, 200px); */
    font-size: clamp(3rem, 5vw, 5vw);
    margin: 0;

}

.hero-description {
    font-size: 2vw;
    margin: 0;
    font-weight: 500;
}












.content-container {
    position: relative;
    margin: auto;
    width: 70%;

    border: 2px solid blue;

}





.quote-container {
    position: inherit;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    margin: 1rem 0 1rem 0;
    
}

.quote-text {
    font-size: clamp(1rem, 1.4vw, 1.4vw);
    color: #76549A;
    margin: 1rem auto auto auto;
}

.quote-author {
    font-size: clamp(0.8rem, 0.85vw, 0.85vw);
    width: 80%;
    margin: auto 0 1rem auto;
    color: #76549A;
}



@media screen and (max-width: 600px) {
    nav li.right, 
    nav li {float: none;}
    .hero-container {padding: calc(8px + 1.5625vw);}
    .projects-container {padding: calc(8px + 1.5625vw);}
    .about-container {padding: calc(8px + 1.5625vw);}
    #footer {padding: calc(8px + 1.5625vw);}

}

@media screen and (min-width: 601px) {
    .projects-text-container {
        width: 65%;
    }
    .about-text-container {
        width: 65%;
    }
}

.section-header {
    font-size: clamp(2rem, 2vw, 2vw);
    font-family: 'Roboto Slab', serif;
    text-decoration: underline #FCF8E8 1px;
    text-underline-offset: 2rem;

}

.projects-container {
    position: relative;
    width: 100%;
    margin: 1rem auto 0 auto;

    background-color: #94B49F;
    color: #FCF8E8;

}

.projects-text-container {
    position: relative;
    
    /* width: 65%; */
    margin: 3rem auto 3rem auto;
    font-size: clamp(1.2rem, 1vw, 1vw);
    font-family: 'Open Sans', sans-serif;

    /* padding: calc(8px + 1.5625vw); */

    /* border: 2px solid red; */
}

.project-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.project-items img {
    width: clamp(10rem, 13vw, 13vw);
    max-height: 16rem;
    object-fit: cover;
    border: 1px solid #FCF8E8;
    margin-bottom: 1rem;

}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 4vw;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;

    border: 2px solid red;
}

.item {
    border: 2px solid red;
}

.item:hover .overlay{
    opacity: 1;
}

@media (max-width: 800px) {
    .project-item-container {
      flex-direction: column;
    }
}








.prj-container {
	position: relative;
	width: fit-content;
	border: 2px solid whitesmoke;
	background-color: rgba(0, 0, 0, 0.5);
	margin: auto;
	
  }
  
.image {
	opacity: 1;
	display: block;
	width: 80%;
	height: fit-content;
	transition: .5s ease;
	backface-visibility: hidden;
	margin: auto;
	max-height: 50rem;
}


  
.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 20%;
	
	
	
}
  
.prj-container:hover .image {
	opacity: 0.2;
}
  
.prj-container:hover .middle {
	opacity: 1;
}

.text {
	width: 80%;
	color: white;
	font-size: 16px;
	border: 2px solid white;
	padding: 0 1rem 2rem 1rem;
	position: relative;
	margin: auto;
	
	
}
























/* ABOUT */

.about-container {
    background-color: #DF7861;
    color: #FCF8E8;

    position: relative;
    width: 100%;
    margin: 0 auto 0 auto;

}

.about-text-container {
    position: relative;
    margin: 3rem auto 3rem auto;
}

.headshot {
    width: clamp(15rem, 15vw, 15vw);
    border: 2px solid #FCF8E8;
    
}

.about-contents {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-family: 'Open Sans', sans-serif;
    font-size: clamp(1.2rem, 1vw, 1vw);
    /* border: 1px solid red; */
}

@media (max-width: 1000px) {
    .about-contents {
      flex-direction: column;
    }
    .headshot {
        margin: auto;
    }
}

@media (min-width: 801px) {
    .about-contents p {
        width: 70%;
    }
}

.about-contents p {
    position: relative;
    margin-top: 0;
    /* width: 70%; */

    /* border: 1px solid red; */
}







/* FOOTER */
footer {
    bottom: 0;
    width: 100%;
    background-color: #76549A;
    color: #FCF8E8;
    text-align: center;
    margin: 0 auto 0 auto;
    padding-bottom: 4rem;
}

.socials {
	width: 4rem;
	padding: 1rem;
}

.links-box {
	margin: 4rem auto 0 auto;
	width: fit-content;
	padding-bottom: 2rem;
	border-bottom: 1px solid rgb(141, 141, 141);

}

.links-box a {
	text-decoration: none;
}






/* NAVBAR */
nav {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #76549A;
}

.center {
    margin-left: auto;
}

.right {
    margin-right: 2rem;
}

.left {
    margin-left: 2rem;
}
  
nav li {
    align-self: center;
}
  
nav li a {
    display: block;
    color: #FCF8E8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
nav  li a:hover:not(.active) {
    background-color: #111;
}

nav li.left {
    float: left;
}
