body {
	background-color: rgb(201, 203, 204);
	font-family: Arial, Helvetica, sans-serif;
}

article {
	margin: 60px auto;
	height: fit-content;
}

.center {
	display: flex;
	justify-content: center;
	justify-self: center;
	flex-wrap: wrap;
}


.content {
	height: fit-content;
	border: 3px solid grey;
	min-width: 450px;
	width: 60%;
	background-color: white;
    
}


header {
	height: fit-content;
	width: 100%;
	background-color: #333;
	color: #fff;
	text-align: center;
}

.title {
	margin: 0 auto;
	padding: 1rem;

}


.mid {
	border: 1px solid rgb(161, 161, 161);
	height: fit-content;
	margin-bottom: 15px;
	
}

#description {
    text-align: left;
    text-indent: .25in;
	padding: 30px 50px;
}


footer {
	text-align: center;
		
}


/*
#page {
	width: 1000px;
	display: flex;
	height: fit-content;
	border: 3px solid grey;
	margin: 50px auto 0 auto;
	background-color: white;

}
*/


#grid {
	height: fit-content;
	width: 100%;

}

.wrapper {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 5px;
	padding: 8px;
	
	width: 130px;
	height: 200px;
}



/* WRAPPER BACKUP
.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows: 200px;
    grid-gap: 30px;
    background-color: #fff;
    color: #444;
    margin: 20px 20px 60px 40px;
	height: fit-content;
	width: 90%;
	border: 1px solid blue;
    
    
  }
  */

.wrapper img {
    height: 130px;
    width: 100px;
    border: 1px solid black;
    
}


.content a:link, .content a:visited {
	text-decoration: none;
	color: mediumblue;
	text-align: center;
	
}


.content a:active {
	color: sandybrown;
}

.content a:hover {
	text-decoration: underline;
}









#sidebar {
	width: fit-content;
	padding: 0 2rem;
	background-color: white;
	border: 3px solid grey;
}


#sideHeader {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

#sideHeader a img {
	width: 100%;

}
















/* The navigation bar */
nav {
	overflow: auto;
	background-color: rgb(28, 32, 36);
	/*background-color: #333; LIGHT MODE */
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	max-height: 3.5rem;
	z-index: 100;
	margin:0px auto;
    left:0px;
    right:0px;
 }
 
 /* Links inside the navbar */
nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 30px;
	text-decoration: none;

 }
 
 /* Change background on mouse-over */
nav a:hover {
	background: #ddd;
	color: black;
 }
 
