{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% block favicon %}{% static 'favicon/favicon-32x32.png' %}{% endblock %}"/>
</head>

<nav>
  <div class="navbar-container">
    <div class="navbar-left">
      <a href="{% url 'portfolio' %}">Christian Arbelaez</a>
    </div>
    <div class="navbar-right">
      <a href="#">About</a>
      <a href="#">Personal</a>
      <button id="dark-mode-btn" class="dark-mode-btn">
        <img src="{% static 'images/moon2.png' %}" alt="Moon" class="moon-icon">
        <img src="{% static 'images/sun.png' %}" alt="Sun" class="sun-icon">
      </button>
    </div>
  </div>
</nav>

<body>
  <content>
    {% block content %}{% endblock %}
  </content>
</body>

{% comment %} <footer>     
    <p>Original design and build by Christian Arbelaez for his online portfolio. You are allowed to use this webpage for both personal or commercial use. </p>
    <p>Copyright © {{year}} Christian Arbelaez</p>
</footer> {% endcomment %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const darkModeBtn = document.querySelector('#dark-mode-btn');
    const moonIcon = document.querySelector('.moon-icon');
    const sunIcon = document.querySelector('.sun-icon');

    darkModeBtn.addEventListener('click', () => {
      document.body.classList.toggle('dark-mode');
      moonIcon.classList.toggle('hidden');
      sunIcon.classList.toggle('hidden');
    });
  });
</script>

</html>



