{% load static %}

<!-- SIDEBAR -->
<div id="sidebar">
    <div id="sideHeader">
      <a href="./250.php">
        <img style="width: 250px; height: 200px;" src="{% static 'movies/media/nav/top250.jpg' %}" alt="top 250 movies">
      </a>
      <a href="./Decades/1900s/1900s.php">
        <img style="width: 250px; height: 65px;" src="{% static 'movies/media/nav/1900s.jpg' %}" alt="1900s">
      </a>
      <a href="./Decades/1930s/1930s.php">
        <img style="width: 250px; height: 65px;" src="{% static 'movies/media/nav/1930s.jpg' %}" alt="1930s">
      </a>
      <a href="./Decades/1940s/1940s.php">
        <img style="width: 250px; height: 55px;" src="{% static 'movies/media/nav/1940s.jpg' %}" alt="1940s">
      </a>
      <a href="./Decades/1950s/1950s.php">
        <img style="width: 250px; height: 65px;" src="{% static 'movies/media/nav/1950s.jpg' %}" alt="1950s">
      </a>
      <a href="./Decades/1960s/1960s.php">
        <img style="width: 250px; height: 65px;" src="{% static 'movies/media/nav/1960s.jpg' %}" alt="1960s">
      </a>
      <a href="./Decades/1970s/1970s.php">
        <img style="width: 250px; height: 65px;" src="{% static 'movies/media/nav/1970s.jpg' %}" alt="1970s">
      </a>
      <a href="./Decades/1980s/1980s.php">
        <img style="width: 250px; height: 65px;" src="{% static 'movies/media/nav/1980s.jpg' %}" alt="1980s">
      </a>
      <a href="./Decades/1990s/1990s.php">
        <img style="width: 250px; height: 65px;" src="{% static 'movies/media/nav/1990s.jpg' %}" alt="1990s">
      </a>
      <a href="./Decades/2000s/2000s.php">
        <img style="width: 250px; height: 65px;" src="{% static 'movies/media/nav/2000s.jpg' %}" alt="2000s">
      </a>
      <a href="./Decades/2010s/2010s.php">
        <img style="width: 250px; height: 65px;" src="{% static 'movies/media/nav/2010s.jpg' %}" alt="2010s">
      </a>
      <a href="./Decades/2020s/2020s.php">
        <img style="width: 250px; height: 65px;" src="{% static 'movies/media/nav/2020s.jpg' %}" alt="2020s">
      </a>
    </div>
  </div>