{% extends 'base.html' %}
{% load static %}

{% block title %}{{article.title}}{% endblock title %}

{% block css %}
{{ block.super}}
<link rel="stylesheet" href="{% static 'blog/css/article.css' %}"/>
{% endblock css %}

{% block content %}
{{ block.super }}

<div class="container">
    <div class="row">
        <div class="article">
            <div class="article-title">
                <h1>{{article.title}}</h1>
            </div>
            <div class="article-content">
                <p>{{article.content}}</p>
            </div>
            <div class="article-author">
                <p>Author: {{article.author}}</p>
            </div>
            <div class="article-date">
                <p>Date: {{article.date}}</p>
            </div>
        </div>
    </div>
</div>




{% endblock content %}