
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(0, 1, 2);
}

footer {
	position: absolute;
  	bottom: 0;
	/*background-color: rgb(238, 238, 238); LIGHT MODE */
	background-color: rgb(4, 7, 8);
  	color: #5F6368;
	text-align: center;
	width: 100%;
}

 
 h2 {
	color: rgb(0, 0, 0);
	opacity: .75;
	text-align: center;
	font-size: xx-large;
	
}


button {
	
	/* LIGHT MODE
	background-color: #f2f2f2;
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
   border: 1px solid #f2f2f2;
   border-radius: 4px;
	color: #5F6368;
	*/


	background-color: rgb(3, 6, 7);
	background-image: -webkit-linear-gradient(top, rgb(2, 4, 6), rgb(3, 6, 7));
	border-top-color: rgb(36, 36, 36);
	border-right-color: rgb(36, 36, 36);
	border-bottom-color: rgb(36, 36, 36);
	border-left-color: rgb(36, 36, 36);
	color: rgb(212, 207, 196);

	border: 1px solid #f2f2f2;
   	border-radius: 4px;
	font-size: small;
	padding: 15px;
}

.center {
	position: relative;
	margin: auto;
	/*top: 250px;*/
	margin-top: 12.5%;
	top: 60px;
	text-align: center;
	width: fit-content;

}


.logo > button{
	position: absolute;
	cursor: pointer;

}


.button1 {
	position: relative;
	margin-right: 5px;

}

.button2 {
	position: relative;

}


/* The navigation bar */
.navbar {
	overflow: hidden;
	background-color: rgb(28, 32, 36);
	/*background-color: #333; LIGHT MODE */
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	z-index: 100;
 }
 
 /* Links inside the navbar */
.navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 30px;
	text-decoration: none;

 }
 
 /* Change background on mouse-over */
.navbar a:hover {
	background: #ddd;
	color: black;
 }
 












