body {
	background-color: rgb(201, 203, 204);
	font-family: Arial, Helvetica, sans-serif;
}

article {
	height: fit-content;
	margin: 60px auto;

}

.center {
	display: flex;
	justify-content: center;
	justify-self: center;
	flex-wrap: wrap;
}

#content {
	height: fit-content;
	border: 3px solid grey;
	min-width: 450px;
	width: 60%;
	background-color: white;

}

header {
	height: fit-content;
	width: 100%;
	background-color: #333;
	color: #fff;
	text-align: center;
}

.title {
	margin: 0 auto;
	padding: 1rem;

}

.mid {
	height: fit-content;
}

.list {
	text-align: left;
	margin: 1.5rem auto;
	width: fit-content;
}

.list a:link, .list a:visited{
	text-decoration: none;
	color: mediumblue;
	
}

.list a:active {
	color: sandybrown;
	text-decoration: mediumblue;
}

.list a:hover {
	text-decoration: underline;
	text-decoration-color: mediumblue;
}


#sidebar {
	width: fit-content;
	padding: 0 2rem;
	background-color: white;
	border: 3px solid grey;
}


#sideHeader {
	display: flex;
	flex-direction: column;
	padding: 10px 0;
	width: 100%;
	height: 100%;
	object-fit: cover;

}

#sideHeader a img {
	width: 100%;

}


footer {
	text-align: center;
}









nav {
	overflow: auto;
	background-color: rgb(28, 32, 36);
	/*background-color: #333; LIGHT MODE */
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	max-height: 3.5rem;
	z-index: 100;
	margin:0px auto;
    left:0px;
    right:0px;
 }
 
 /* Links inside the navbar */
nav a {
	float: left;
	display: block;
	color: #f2f2f2;
	padding: 14px 30px;
	text-decoration: none;

 }
 
 /* Change background on mouse-over */
nav a:hover {
	background: #ddd;
	color: black;
 }
 
 
 


/* BACKUP OF OLD PAGE
.page {
	width: 75%;
	min-width: 600px;
	min-height: fit-content;
	height: fit-content;
	max-height: fit-content;
	border: 3px solid grey;
	margin: 50px auto 0 auto;
	background-color: white;

	
<div class="page">
    <!-- MAIN CONTENT-->
    <div id="content" class="side">
      <header>
        <h1 class="title"> My Top 250 Movies</h1>
      </header>
      <section class="mid">
        <div class="list">
          <ol>
            <a href="./Decades/2000s/movies/up.html">
              <li>Up (2009)</li>
            </a>
            <a href="./Decades/1930s/movies/smithWashington.html">
              <li>Mr. Smith Goes to Washington (1939)</li>
            </a>
            <a href="./Decades/1900s/movies/sherlock.html">
              <li>Sherlock Jr. (1924)</li>
            </a>
            <a href="./Decades/1930s/movies/cityLights.html">
              <li>City Lights (1931)</li>
            </a>
            <a href="./Decades/1930s/movies/kingKong.html">
              <li>King Kong (1933)</li>
            </a>
            <a href="./Decades/1930s/movies/dirtyFaces.html">
              <li>Angels With Dirty Faces (1938)</li>
            </a>
            <a href="./Decades/1930s/movies/modernTimes.html">
              <li>Modern Times (1936)</li>
            </a>
            <a href="./Decades/1900s/movies/sunrise.html">
              <li>Sunrise: A Song of Two Humans (1927)</li>
            </a>
            <a href="./Decades/1930s/movies/happenedOneNight.html">
              <li>It Happened One Night (1934)</li>
            </a>
            <a href="./Decades/1900s/movies/goldRush.html"> 
              <li>The Gold Rush (1925)</li>
            </a>
            <a href="./Decades/1900s/movies/steamboatWillie.html">
              <li>Steamboat Willie (1928)</li>
            </a>
            <a href="./Decades/1930s/movies/westernFront.html">
              <li>All Quiet on the Western Front (1930)</li>
            </a>
            <a href="./Decades/1930s/movies/snowWhite.html">
              <li>Snow White (1937)</li>
            </a>
            <a href="./Decades/1930s/movies/deeds.html">
              <li>Mr. Deeds Goes to Town (1936)</li>
            </a>
          </ol>  
        </div>
      </section>
    </div>
}




*/












